:root {
    background-image: linear-gradient(to bottom, white 5%, #7873c6 100%);
    font-family: 'Faustina', serif;
    font-weight: bolder;
    /* font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif; */
}

h1 {
    text-align: center;
    font-size: 45px;
    color: #c23a8c;
}

h1 img {
    vertical-align: middle;
}

.icon {
    width: 4%;
}

header p {
    text-align: center;
}

body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
}

main {
    margin-right: 0;
}
#container {
    width: 100%;
    height: 100%;
    margin-left: auto;
    margin-right: auto;
}

aside {
    width: 45%;
    float: left;
    margin-left: 5em;
}

aside h2 {
    display: block;
    margin-top: 2em;
    margin-left: 0;
    margin-bottom: 0;
    font-size: 40px;
    color: #c23a8c;

}

.container2 {
    width: 100%;
    display: flex;
    flex-direction: row;
    margin-left: 11em;
    text-align: center;
}

aside img {
    display: flex;
    width: 120px;
    margin-top: 0;
    margin-left: 0;
}

.asideimg2 {
    display: block;
    margin-left: 4em;
}

#spiderjockey {
    width: 200px;
}

#cow {
    width: 170px;
}

#pig {
    width: 200px;
}

aside p {
    color: #034603;
    font-size: 20px;
    margin-top: 0.25em;
    line-height: 1.5em;
}

section {
    float: right;
    text-align: center;
    margin-right: 2em;
    margin-top: em;
    width: 40%;
}

.sideimg {
    text-align: right;
}

section p {
    line-height: 1.5em;
    font-size: 18px;
    text-align: right;

}

/* nav menu */
nav {
    float: right;
    margin-right: 1em;
}

#nav_list ul {
    list-style: none;
    margin-left: 1.25em;
    margin-bottom: 1.5em;
}

#nav_list ul li {
    width: 200px;
    margin-bottom: .5em;
    border: 2px solid #000000;
}

#nav_list ul li a {
    display: block;
    padding: .5em 0 .5em 1.5em;
    text-decoration: none;
    font-weight: bold;
    color: black;
}


footer {
    text-align: center;
    font-size: 75%;
    clear: both;
    padding-top: 15em;
}

/* @media screen and (max-width: 620px) {
     {
        size: 2px;
    }
} */

@media only screen and (max-width: 744px) {

    aside {
        float: right;
        clear: none;
        margin-right: auto;
        margin-left: 0;
        text-align: center;
        /* font-size: 70%; */
    }
}

@media only screen and (max-width: 776px) {

    header h1 {
        font-size: 1.5em;
    }

    header p {
        font-size: .75em;
    }
}

@media screen and (max-width: 620px) {

    nav {
        size-adjust: 25%;
        width: fit-content;
        height: fit-content;
    }

    aside {
        float: none;
    }

}

@media only screen and (max-width: 1125px) {

    aside h2 {
        font-size: 90%;
    }

    aside p {
        font-size: 75%;
    }
}

@media only screen and (max-width: 1113px) {
    section {
        display: flex;
        flex-direction: column;
    }
}

@media only screen and (max-width: 1105px) {

    aside {
        width: 15%;
    }

    div img {
        display: flex;
    }

    img {
        width: 25%;
    }

    section {
        margin-top: 8em;
        margin-left: 10em;
    }

    section p {
        font-size: 75%;
    }
}

@media only screen and (max-width: 1026px) {
    aside {
        float: left;
    }

    aside ul {
        font-size: .75em;
    }

    aside {
        width: auto;
    }

    section {
        float: left;
        margin-left: 1em;
        /* margin-top: 0; */
    }

    section p {
        text-align: left;
    }

    div.sideimg {
        text-align: left;
    }

}

@media only screen and (max-width: 1338px) {

    nav {
        width: fit-content;
    }

    aside {
        margin: 1em;
    }
}