:root {
    background-image: linear-gradient(to bottom, white 25%, #7873c6 100%);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

body {
    /* padding: .5em 2.5em;*/
    margin: 0;
    width: 100%;

}

/*Header*/

nav {
    float: right;
    width: 20%;
}

#nav_list ul {
    list-style: none;
    margin-left: 1.25em;
    margin-bottom: 1.5em;
}

#nav_list ul li {
    width: 200px;
    margin-bottom: .5em;
    border: 2px solid black;
}

#nav_list ul li a {
    display: block;
    padding: .5em 0 .5em 1.5em;
    text-decoration: none;
    font-weight: bold;
    color: black;
}

h1 {
    text-align: center;
}

.diamond {
    width: 5%;
}

.highlight {
    color: #d31515;
}

header h1 p {
    font-style: oblique;
    float: right;
}

header p {
    text-align: center;
    font-family: sans-serif;
}

/*main*/

main img {
    width: 35%;
    height: auto;
    float: left;
    padding: 0;
    margin-left: .5em;
    min-width: 10px;
}

aside {
    width: 350px;
    float: left;
    font-size: 1em;
    width: 40%;
    margin: 0;
    padding: 0;
}

aside h2 {
    text-align: center;
    padding-top: 0;
}

aside ul {
    margin: 0;
    margin-bottom: 1.5em
}

aside li {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
    font-size: 150%;
}

aside li img {
    width: 8%;
    height: auto;
}

aside ul li {
    color: #034603;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    margin-bottom: .5em;
}


footer {
    text-align: center;
    font-size: 75%;
    clear: both;
    padding-top: 15em;
}

section {
    float: left;
    clear: both;
    margin-right: auto;
    margin-left: 12em;
    width: 75%;
    text-align: center;
}

section p {
    font-size: 1.25em;
}


@media only screen and (max-width: 796px) {
    header h2 {
        font-size: 1.375em;
    }

    header h3 {
        font-size: .75em
    }

    main img {
        float: none;
        width: 35%;
        margin-right: 0;
    }

    footer p {
        font-size: .6875em;
    }
}

/* Aside elements */

@media only screen and (max-width: 1000px) {
    aside {
        float: right;
    }

    aside h2 {
        font: .60em;
    }

    aside ul {
        font-size: .75em;
    }

}

/*
a:link {
    color: rgb(247, 92, 92);
    text-decoration: underline;
}

a:hover, a:focus {
    font-style: italic;
}
/*