main img {
    width: 30%;
    height: auto;
}

:root {
    background-image: url("images/background.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

/*Header*/

h1 {
    text-align: center;
}

.highlight {
    color: #d31515;
}

header p {
    text-align: center;
    font-family: sans-serif;
}

body {
    background-color: #ffd7d7;
    padding: .5em 2.5em;
    margin: auto 3em;
    border: .5em solid #ffffff;
    border-radius: 5em;
}


/*main*/

main h2 {
    text-align: center;
}

ul li {
    color: rgb(3, 70, 3);
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

h1+p {
    font-style: oblique;
}

footer {
    text-align: center;
    font-size: 75%;
}

/*
a:link {
    color: rgb(247, 92, 92);
    text-decoration: underline;
}

a:hover, a:focus {
    font-style: italic;
}
/*